In [5]:
from MLDA.imports.DA_modules import *
import pandas as pd
# from MLDA.imports.DA_modules import *
from MLDA.corr_stats import corr_heatmap
df_test = pd.read_excel("/home/jesper/Work/MLDA_app/MLDA/input_data/fortest_DF_shuf.xlsx")

catcols = [
    "global_warm_risk",
    "intimacy",
    "President",
    "gender",
    "group",
    "Color",
    "num_police"
]

numcols = ["X1", "weight", "X3", "Y1"]
# df_test.head()

# df = pd.DataFrame({"A": ["a", "b", "c", "a", 1]})
# df["B"] = df["A"].astype('category')
# df
# df.info()


catcols = ["global_warm_risk", "intimacy", "President", "gender", "group", "Color", "num_police"]
numcols = ["X1", "weight", "X3","Y1"]
for entry in catcols:
    df_test[entry] = df_test[entry].astype("category")
df_test.info()
print((df_test["gender"].dtype.name) == "category")
print((df_test["X1"].dtype.name) == "float64")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 11 columns):
global_warm_risk    2535 non-null category
Color               887 non-null category
num_police          78 non-null category
gender              2535 non-null category
group               30 non-null category
intimacy            78 non-null category
President           887 non-null category
X1                  768 non-null float64
weight              30 non-null float64
X3                  768 non-null float64
Y1                  768 non-null float64
dtypes: category(7), float64(4)
memory usage: 97.6 KB
True
True

In [6]:
df_test.head()

,global_warm_risk,Color,num_police,gender,group,intimacy,President,X1,weight,X3,Y1
0,two,black,five,women,ctrl,high,Clinton,0.79,5.17,343.0,29.63
1,two,white,two,men,trt2,low,Dole,0.79,5.37,343.0,42.11
2,four,white,one,women,trt1,high,Dole,0.62,4.69,367.5,16.76
3,five,white,three,men,trt2,high,Clinton,0.71,6.15,269.5,6.37
4,five,white,three,women,trt2,high,Dole,0.74,4.92,245.0,14.48

In [13]:
corr =corr_heatmap.correlation(df_test, catcols=catcols, numcols=numcols, CI=1, method_cc='Asym', method_nn='Spearmann')
corr[0]
corr[1]

,global_warm_risk,intimacy,President,gender,group,Color,num_police,X1,weight,X3,Y1
global_warm_risk,1,NaN,NaN,0.00628595,p > CI,NaN,p > CI,0,0,0.0112279,0
intimacy,NaN,1,NaN,NaN,NaN,NaN,NaN,0,0.173439,0.198586,0.16047
President,NaN,p > CI,1,NaN,p > CI,0.808693,NaN,0,0,0.0328192,0
gender,0.00275217,NaN,NaN,1,NaN,NaN,p > CI,0.0669833,0,0,0.00299405
group,0.062946,p > CI,0.0904413,0.0330533,1,NaN,NaN,0.232177,0.451751,0,0.256648
Color,NaN,NaN,0.323283,NaN,NaN,1,p > CI,0,0,0.0377235,0.0261284
num_police,0.0787069,NaN,p > CI,0.0698727,p > CI,0.0974861,1,0,0.138954,0.0125406,0.222012
X1,0,0,0,0.0669833,0.232177,0,0,1,-0.253274,-0.255805,0.622135
weight,0,0.173439,0,0,0.451751,0,0.138954,-0.253274,1,0.00102071,-0.239181
X3,0.0112279,0.198586,0.0328192,0,0,0.0377235,0.0125406,-0.255805,0.00102071,1,0.471458
Y1,0,0.16047,0,0.00299405,0.256648,0.0261284,0.222012,0.622135,-0.239181,0.471458,1

,global_warm_risk,intimacy,President,gender,group,Color,num_police,X1,weight,X3,Y1
global_warm_risk,1,NaN,NaN,0.124547,2.46139,NaN,6.1212,0.684359,0.967338,0.393801,0.473016
intimacy,NaN,1,NaN,NaN,NaN,NaN,NaN,0.703619,0.175663,0.0438183,0.0841979
President,NaN,5.50311,1,NaN,24.9248,0.0031938,NaN,0.987542,0.973674,0.243791,0.392733
gender,0.0915122,NaN,NaN,1,NaN,NaN,1.15055,0.034993,0.779543,0.770912,0.315967
group,0.995531,1.36931,0.738754,0.912871,1,NaN,NaN,0.175899,0.01591,0.541198,0.147315
Color,NaN,NaN,0.00175588,NaN,NaN,1,1.3206,0.91349,0.518633,0.148242,0.217293
num_police,0.483777,NaN,6.27594,0.996003,3.61921,0.410796,1,0.748129,0.377272,0.422619,0.121923
X1,0.684359,0.703619,0.987542,0.034993,0.175899,0.91349,0.748129,1,0.176877,6.12691e-13,1.77123e-83
weight,0.967338,0.175663,0.973674,0.779543,0.01591,0.518633,0.377272,0.176877,1,0.995729,0.203034
X3,0.393801,0.0438183,0.243791,0.770912,0.541198,0.148242,0.422619,6.12691e-13,0.995729,1,9.35923e-44
Y1,0.473016,0.0841979,0.392733,0.315967,0.147315,0.217293,0.121923,1.77123e-83,0.203034,9.35923e-44,1