In [1]:
from MLDA.imports.DA_modules import *
import pandas as pd
# from MLDA.imports.DA_modules import *
from MLDA.corr_stats import corr_heatmap
df_test = pd.read_excel("/home/jesper/Work/macledan/input_files/test_DF.xlsx")

catcols = ["global_warm_risk", "intimacy", "gender", "group", "num_police"]
numcols = ["X1", "weight", "X3", "Y1"]
# df_test.head()

# df = pd.DataFrame({"A": ["a", "b", "c", "a", 1]})
# df["B"] = df["A"].astype('category')
# df
# df.info()


catcols = ["global_warm_risk", "intimacy", "gender", "group", "num_police"]
numcols = ["X1", "weight", "X3", "Y1"]
for entry in catcols:
    df_test[entry] = df_test[entry].astype("category")
df_test.info()
print((df_test["gender"].dtype.name) == "category")
print((df_test["X1"].dtype.name) == "float64")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 9 columns):
global_warm_risk    2535 non-null category
intimacy            78 non-null category
gender              2535 non-null category
group               30 non-null category
num_police          78 non-null category
X1                  768 non-null float64
weight              30 non-null float64
X3                  768 non-null float64
Y1                  768 non-null float64
dtypes: category(5), float64(4)
memory usage: 92.4 KB
True
True

In [2]:
corr =corr_heatmap.correlation(df_test, catcols=catcols, numcols=numcols)
corr[0]
corr[1]

,global_warm_risk,intimacy,gender,group,num_police,X1,weight,X3,Y1
global_warm_risk,1,NaN,0.0925822,NaN,NaN,0.02365,NaN,0,0.167168
intimacy,NaN,1,NaN,0.92582,0.145864,0.440361,0.294271,0,0.0709117
gender,0.0925822,NaN,1,NaN,NaN,0,NaN,0,0.0453997
group,NaN,0.92582,NaN,1,0.853913,0.904484,0.451751,0,0.428434
num_police,NaN,0.145864,NaN,0.853913,1,0.419262,0,0.202101,0.602789
X1,0.02365,0.440361,0,0.904484,0.419262,1,-0.217577,-0.203782,0.622272
weight,NaN,0.294271,NaN,0.451751,0,-0.217577,1,0.0557758,-0.140739
X3,0,0,0,0,0.202101,-0.203782,0.0557758,1,0.455671
Y1,0.167168,0.0709117,0.0453997,0.428434,0.602789,0.622272,-0.140739,0.455671,1

,global_warm_risk,intimacy,gender,group,num_police,X1,weight,X3,Y1
global_warm_risk,h,NaN,0.000226947,NaN,NaN,0.330705,NaN,1,1.79068e-05
intimacy,NaN,h,NaN,2.60744e-06,0.893955,2.94202e-05,0.0599369,0.884789,0.241379
gender,0.000226947,NaN,h,NaN,NaN,0.424179,NaN,0.33634,0.10821
group,NaN,2.60744e-06,NaN,h,3.65001e-06,2.66663e-11,0.01591,0.671973,0.0226493
num_police,NaN,0.893955,NaN,3.65001e-06,h,0.0016902,0.527551,0.154261,3.09425e-07
X1,0.330705,2.94202e-05,0.424179,2.66663e-11,0.0016902,h,0.248097,1.21178e-08,1.59158e-83
weight,NaN,0.0599369,NaN,0.01591,0.527551,0.248097,h,0.769718,0.458205
X3,1,0.884789,0.33634,0.671973,0.154261,1.21178e-08,0.769718,h,1.22178e-40
Y1,1.79068e-05,0.241379,0.10821,0.0226493,3.09425e-07,1.59158e-83,0.458205,1.22178e-40,h